<header>
  <div class="container-fluid">
    <div class="d-flex justify-content-around align-items-center">
      <div>
        <img src="../../assets/images/aegean-logo1.jpg">
      </div>
      <div>{{ 'HOME.HEADER.BookBaggageTransfer' | translate }}</div>
      <div>aegenair.com</div>
      <div>
        <select #langselect (change)="translateService.use(langselect.value)">
          <option *ngFor="let lang of translateService.getLangs()" > {{ lang }}</option>
        </select>
      </div>
      <div>baggagement logo</div>
    </div>

  </div>
</header>

