<footer>
  <div class="footer">
    <div class="d-flex justify-content-around align-items-center mb-5 footer-content">
      <div class="d-flex align-items-center">
        <div>
          <img class="img-fluid" src="../../assets/images/aegean-logo.jpg">
        </div>
        <div>{{ 'HOME.HEADER.BookBaggageTransfer' | translate }}</div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="terms mr-3">
          <a href="#">{{'HOME.FOOTER.TermsOfUse' | translate}}</a>
        </div>
        <div class="privacy-policy">
          <a href="#">{{'HOME.FOOTER.PrivacyPolicy' | translate}}</a>
        </div>
      </div>
      <div class="help-support">
        {{'HOME.FOOTER.HelpAndSupport' | translate}}
      </div>
    </div>

    <div class="d-flex justify-content-between footer-line">
      <div class="copyright">
        @2020 AEGEAN AIRLINES
      </div>
      <div class="alliance-member">
      </div>

    </div>
  </div>
</footer>
