<div class="main-wrapper p-5">
  <section>
    <div class="welcome-img">
      <img class="img-fluid" src="../../assets/images/athens_final.png">
    </div>
    <div class="text">
      <div class="text-title mb-3">
        {{ 'HOME.BODY.EnjoyAthensBaggageFree' | translate }}
      </div>
      <div class="text-desc">
        <div>
          We pick-up and deliver your bags to any place in Athens,
        </div>
        <div>
          Athens Airport, Piraeus Port, Hotels and Airbnb included
        </div>
      </div>
    </div>

<!--  <div class="booking-engine">-->
<!--    <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe>-->
<!--  </div>-->
  </section>

  <section>
    <div class="col-lg-6 main-info">
      <div class="meet-baggagement">
        <div class="title titles-main-color">
          Meet Baggagement
        </div>
        <div class="sub-title titles-main-color">
          The Baggage Storage & Delivery Service
        </div>

        <div class="desc mt-5 d-flex align-items-center pl-3">
          <div class="long-desc w-50 mr-5 descriptions-main-color">
            In Baggagement we pick-up, store and deliver your bags and your sports equipment to any area in Athens,
            Athens Airport, Piraeus Port, Hotels and AirBnB.
            Enjoy your day exploring the city, while we take care of your bags.
          </div>
          <div class="img">
            <img src="../../assets/images/Trolley.png">
          </div>
        </div>
        <div class="what-we-do mt-5">
          <img class="img-fluid" src="../../assets/images/PoC_Excess2.PNG">
        </div>
      </div>

      <div class="features mt-5">
        <div class="title titles-main-color">
          Basic Features - Benefits
        </div>
        <div class="d-flex">
          <div class="col-lg-6">
            <div class="icon col-lg-12 mt-5 mb-3 p-0">

            </div>
            <div class="feature col-lg-12 mb-3 p-0">
              Comfort
            </div>
            <div class="feature-desc col-lg-12 mb-3 descriptions-main-color p-0">
              We pick up and transfer your bags to any location in Athens.
              No limitation on size or weight.
              Special baggage, like sports equipment, are welcome, as well. 24/7 service upon request.
            </div>
          </div>
          <div class="col-lg-6">
            <div class="icon col-lg-12 mt-5 mb-3 p-0">

            </div>
            <div class="feature col-lg-12 mb-3 p-0">
              Easy & Quick
            </div>
            <div class="feature-desc col-lg-12 mb-3 descriptions-main-color p-0">
              Use our fully optimized online platform from your pc, tablet or smartphone.
              Set the date, the time and the place of pickup and delivery. We will take care of  the rest.
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="col-lg-6">
            <div class="icon col-lg-12 mt-5 mb-3 p-0">

            </div>
            <div class="feature col-lg-12 mb-3 p-0">
              Safe & Reliable
            </div>
            <div class="feature-desc col-lg-12 mb-3 descriptions-main-color p-0">
              We seal your bags and store them in our secure storage facilities.
              Location tracking available. Insurance coverage included.
            </div>
          </div>
          <div class="col-lg-6">
            <div class="icon col-lg-12 mt-5 mb-3 p-0">

            </div>
            <div class="feature col-lg-12 mb-3 p-0">
              Value for Money
            </div>
            <div class="feature-desc col-lg-12 mb-3 descriptions-main-color p-0">
              Athens Airport & Piraeus port, Hotel & Airbnb pick-up, starting prices from 15€ for one bag, +5€ for every additional.
            </div>
          </div>
        </div>


      </div>

      <div class="how-it-works mt-5">
        <div class="title mb-3">
          How it Works
        </div>
        <div class="book-service mb-5 pl-5">
          <div class="d-flex align-items-center flex-wrap">
            <div class="service f42 text-center mr-3">1</div>
            <div class="service-title f32">Book Service Online</div>
            <div class="service-desc descriptions-main-color w-100">
              <div class="w-75 f24 descriptions-main-color">
                Book the service online selecting the date, the time and the location of your luggage pickup and delivery
              </div>
            </div>
            <div class="service-img w-100">
              <div class="w-50 ml-5">
                <img class="img-fluid" src="../../assets/images/STEP_1_FINAL_2.png">
              </div>
            </div>
          </div>
        </div>
        <div class="book-service pl-5 mb-5">
          <div class="d-flex align-items-center flex-wrap">
          <div class="service f42 text-center mr-3">2</div>
          <div class="service-title f32">Baggage Pickup</div>
          <div class="service-desc descriptions-main-color w-100">
            <div class="w-75 f24 descriptions-main-color">
              Our trained staff meets you at the appointed place and time to collect your bags, transfer them with
              our own vehicles  and store them (for long or short term) safely in our secure premises while you enjoy
              Athens hassle-free and baggage free
            </div>

          </div>
          <div class="service-img w-100">
            <div class="w-50 ml-5">
              <img class="img-fluid" src="../../assets/images/STEP_2_FINAL_2.png">
            </div>

          </div>
        </div>
        </div>
        <div class="book-service pl-5 mb-5">
          <div class="d-flex align-items-center flex-wrap">
            <div class="service f42 text-center mr-3">3</div>
            <div class="service-title f32">Baggage Delivery</div>
            <div class="service-desc descriptions-main-color w-100">
              <div class="w-75 f24 descriptions-main-color">
                Our trained staff will deliver to you, your bags safely,
                at the designated  place and time with our own vehicles.
              </div>

            </div>
            <div class="service-img w-100">
              <div class="w-50 ml-5">
                <img class="img-fluid" src="../../assets/images/STEP_3_FINAL_2.png">
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="locations-info col-lg-12">
      <div class="locations-info-title titles-main-color f42 mb-5">
        We pickup  and deliver your baggage anywhere you want
      </div>
      <div class="location mb-5">
        <div class="d-flex">
          <div class="location-desc w-50 pl-5">
            <div class="location-title titles-main-color mb-3">
              Athens International Airport
            </div>
            <div class="location-long-desc descriptions-main-color">
              Whether landing or taking off our representative will be waiting for you at arrivals hall or at check
              in counters of your flight, to collect or deliver your luggage. Regarding your arrival,
              our meeting points are defined based on whether you fly from Airports
              within or outside Schengen Zone, so once you place your order and specify your flight
              number, you are going to receive an e-mail including exact meeting points either at Arrivals or Departures.
            </div>
          </div>
          <div class="location-image">
            <img class="img-fluid rounded" src="../../assets/images/airport.jpg">
          </div>
        </div>
      </div>
      <div class="location mb-5">
        <div class="d-flex">
          <div class="location-desc w-50 pl-5">
            <div class="location-title titles-main-color mb-3">
              Piraeus Port / Cruise Terminal
            </div>
            <div class="location-long-desc descriptions-main-color">
              We meet  you close to the place that your ferry or your cruise ship embarks or disembarks
              to collect or deliver  your luggage. Piraeus Port has many gates depending on your destination,
              so when placing your order in our booking system, there is a field where you should mention your Cruise
              ship or ferry name allowing us to track your embarkation and/or disembarkation gate.
            </div>
          </div>
          <div class="location-image">
            <img class="img-fluid rounded" src="../../assets/images/piraeus_port.jpg">
          </div>
        </div>
      </div>
      <div class="location mb-5">
        <div class="d-flex">
          <div class="location-desc w-50 pl-5">
            <div class="location-title titles-main-color mb-3">
              Alimos Marina, Zeas Marina or
              Floisvos Marina
            </div>
            <div class="location-long-desc descriptions-main-color">
              Athens appears to be a gateway to the seas which means hundreds of islands to explore.
              For those who are fond of sailing holiday, and want to take advantage of the time available between yacht
              disembarkation and flight or ferry departure,Baggagement can take care of your luggage enabling you
              to make a good use of your time. Place your booking, suggesting picking up and delivery place as
              well as time, meet our representative at the appointed pier,
              enjoy the day hassle-free and collect your luggage at your desirable place and time.
            </div>
          </div>
          <div class="location-image">
            <img class="img-fluid rounded" src="../../assets/images/yacht.jpg">
          </div>
        </div>
      </div>
      <div class="location mb-5">
        <div class="d-flex">
          <div class="location-desc w-50 pl-5">
            <div class="location-title titles-main-color mb-3">
              Hotel or Airbnb
            </div>
            <div class="location-long-desc descriptions-main-color">
              Baggagement solved the question of what to do until the check-in or after the check out from your hotel
              or Airbnb. Book our service, inform us where your bags need to be picked up  in Athens area and have
              our personnel at your hotel lounge or at your doorstep. Same way, we can pick-up your luggage from
              the Port or the Airport and transfer it to your accommodation in Athens area. Strolling around without
              your heavy bags, explore the city and collect memories. Transfer between hotels in addition to long
              term storage service for as long as you have planned is also possible.
            </div>
          </div>
          <div class="location-image">
            <img class="img-fluid rounded" src="../../assets/images/Electra_hotel.jpg">
          </div>
        </div>
      </div>
      <div class="location mb-5">
        <div class="d-flex">
          <div class="location-desc w-50 pl-5">
            <div class="location-title titles-main-color mb-3">
              Or any other place
            </div>
            <div class="location-long-desc descriptions-main-color">
              Contact us and we can arrange with you  a conveniet meeting point that supports your itinerary.
            </div>
          </div>
          <div class="location-image">
            <img class="img-fluid rounded" src="../../assets/images/syntagma.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
