/* You can add global styles to this file, and also import other style files */
@import "assets/variables";

.titles-main-color{
  color: $main-titles-color;
}
.descriptions-main-color{
  color: $main-desciptions-color;
}

.f24{ font-size: 24px; }
.f32{ font-size: 32px; }
.f36{ font-size: 36px; }
.f42{ font-size: 42px; }

.w-60{ width: 60%; }

body{
  font-family: Raleway;
  font-style: normal;
  font-weight: $main-font-weight;
  font-size: $main-font-size;
}

.go-Booking{
  display: none;
}
header{
  color: $main-white-color;
  background-color: $main-blue-color;
  padding: 15px;
  .header{
    width: 80%;
    margin: 0 auto;
  }
  .aegean-link{
    a{
      color: $main-white-color;
      text-decoration: none;
    }
  }
}

footer{
  color: $main-white-color;
  background-color: $main-blue-color;
  .footer{
    a{
      color: $main-white-color;
      text-decoration: none;
    }
  }
}



.main-wrapper{
  position: relative;
  .welcome-img{
    //background-image: url("assets/images/athens_final.png");
  }
  .text{
    position: absolute;
    left: 15%;
    top: 1.5%;
    color: #FFFFFF;
    .text-title{
      font-family: Muli;
      font-weight: 800;
      font-size: 42px;
      line-height: 53px;
    }
    .text-desc{
      font-weight: 600;
      font-size: 18px;
    }
  }
  .booking-engine{
    background-color: #FFFFFF;
    width: 320px;
    height: 520px;
    position: fixed;
    top: 300px;
    right: 250px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    z-index:999;
  }


  .main-info{
    padding: 3rem 3rem 3rem 5rem;
  }



  .meet-baggagement{
    font-weight: 800;
    .title{
      font-size: 36px;
    }
    .sub-title{
      font-size: 24px;
    }
    .long-desc{
      font-weight: 300;
    }
  }

  .features{
    font-weight: 800;
    .title{
      font-size: 36px;
    }
    .feature{
      font-weight: 800;
    }
    .feature-desc{
      font-weight: 300;
    }
  }

  .how-it-works{
    font-weight: 800;
    .title{
      font-size: 36px;
    }

    .book-service{
      .service{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        line-height: 75px;
      }
      .service-title{
        font-family: Muli;
        font-weight: 800;
      }
      .service-desc{
        font-weight: 300;
        margin-left: 100px;
      }
    }
  }

  .locations-info{
    padding: 0 5rem 3rem 5rem;
    .locations-info-title{
      font-weight: bold;
    }
    .location{
      font-size: 24px;
      .location-title{
        font-weight: 800;
        font-size: 28px;
      }
      .location-desc{
        .location-long-desc{
          width: 80%;
        }
      }
      .location-image{
        width: 40%;
        margin-left: auto;
      }

    }
  }

}

@media (max-width: 575.98px) {
  .go-Booking{
    display: block;
    position: fixed;
  }
  header{
    .header{
      margin: 0;
      width: 100%;
      .book-transfer{
        font-size: 12px;
      }
      .baggagement-logo{
        display: none;
      }
    }
  }

  .main-wrapper{
    padding: 0!important;
    .text{
      top: 0;
      .text-title{
        font-size: 20px;
      }
      .text-desc{
        font-size: 12px;
      }
    }
    .booking-engine{
      position: relative;
      width: auto;
      top: 0;
      right: 0;
    }
  }
  .main-info{
    padding: 1rem!important;
    .meet-baggagement{
      .desc{
        padding-left: 5px !important;
        .long-desc{
          margin-right: 1rem!important;
        }
      }
    }
    .how-it-works{
      .book-service{
        padding-left: 1rem!important;
        .service-wrapper{
          .service{
            width: 20%;
          }
          .service-title{
            width: 70%;
            font-size: 28px;
          }
          .service-desc{
            margin-left: 0;
            div{
              width: 100%!important;
              margin-bottom: 1rem;
            }
          }
          .service-img{
            margin-right: 15%;
            div{
              width: 100%!important;
              margin-left: 0!important;
            }
          }

        }
      }
    }
  }
  .locations-info{
    padding: 1rem!important;
    .locations-info-title{
      font-size: 32px!important;
    }
    .location{
      .location-wrapper{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .location-desc{
          padding-left: 0!important;
          width: 100%!important;
          .location-long-desc{
            width: 100%;
          }
        }
        .location-image{
          width: 100%;
        }
      }

    }
  }

  .footer{
    .footer-content{
      flex-wrap: wrap;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
